header{
    font-size: 5em;
    font-family: 'Germania One', cursive;
    color: red;
    margin-left: 20px;
    
    
    
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.5em;
    color: aqua;
    background-color: black;
    text-align: left;
    background-image: url(../images/8973.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 40px;
    
}
div.dotted {
    margin: 20px;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: 10%;
    border-style: dotted;
    text-align: center;
    border-width: 4px 4px 4px 4px;
    border-color: purple;
}
